.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0;

  @include media-up(md) {
    margin-left: 6%;
    margin-right: 6%;
  }

  @include media-down(md) {
    margin-left: 2%;
    margin-right: 2%;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 12px;
    color: $color-text-black;
    padding: 10px;
    transition: 0.2s;

    &:hover {
      color: $color-text-green;
    }

    &_last {
      pointer-events: none;
    }
  }

  &__arrow {
    display: inline-block;
    width: 13px;
    height: 13px;
  }
}
