.section {
  margin: 0 auto 120px;
}

@media (min-width: 992px) {
  .section {
    max-width: 81%;
  }
}

@media (max-width: 992px) {
  .section {
    max-width: 90%;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 20px;
}

.h1 {
  font-size: fluid-size(24, 120);
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: fluid-size(10, 30);
}

.h2 {
  font-size: clamp(1.25rem, 0.75rem + 2.5vw, 3.75rem);
}

.h3 {
  font-size: clamp(0.9375rem, 0.162rem + 2.99vw, 3.75rem);
}

.h4 {
  font-size: clamp(2.5rem, 2.2rem + 1.5vw, 4rem);
}

.h5 {
  font-size: clamp(0.9375rem, -0.3519rem + 5.5016vw, 6.25rem);
}

.h6 {
  font-size: clamp(1.25rem, 0.3538rem + 3.4551vw, 4.5rem);
}

.p,
.span,
.a,
.strong,
.li {
  font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
  line-height: 170%;
}

.a {
  text-decoration: none;
  color: #b2d00b;
}

.a:hover {
  text-decoration: underline;
}

.strong {
  font-weight: 700;
}

.ul,
.ol {
  margin: clamp(1.25rem, 0.625rem + 2.5vw, 2.5rem) 0;
  padding-left: clamp(1.875rem, 1.25rem + 2.5vw, 2.5rem);
}

.ul {
  list-style-type: disc;
}

.ol {
  list-style-type: decimal;
}

.li {
  margin-bottom: 20px;
}
