.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  max-width: fluid-size(100, 200);
  width: 100%;
  height: 85px;
  border-radius: 100px;
  background-color: $color-bg-green;
  padding: fluid-size(10, 20) fluid-size(12, 25);
}

.arrow {
  background-color: transparent;
  width: 52px;
  height: 52px;
  border: none;
  font-size: $size-text-2;
  font-weight: 700;
  color: $color-text-black;
  padding: 5px;
  cursor: pointer;

  &:disabled {
    background: transparent;
    color: $color-bg-white;
  }
}
