.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  min-width: fluid-size(100, 200);
  height: 85px;
  border-radius: 100px;
  background-color: $color-bg-green;
  padding: fluid-size(10, 20) fluid-size(12, 25);

  &__range {
    display: flex;
  }

  &__range__btn {
    padding: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    border: none;
    cursor: pointer;
    background: transparent;

    &_disabled {
      pointer-events: none;
    }

    &_active {
      color: $color-text-white;
    }
  }
}

.arrow {
  background-color: transparent;
  width: 52px;
  height: 52px;
  border: none;
  font-size: $size-text-2;
  font-weight: 700;
  color: $color-text-black;
  padding: 5px;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}
