main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  & > .content {
    flex: 1 0 auto;
  }
}

.flag-dropdown .open {
  background: #000 !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background: #000 !important;
}
