//colors for text
$color-text-white: #ffffff;
$color-text-black: #000000;
$color-text-green: #b2d00b;
$color-text-transparent: #222222;

//colors for backgrounds
$color-bg-white: #ffffff;
$color-bg-black: #000000;
$color-bg-green: #b2d00b;
$color-bg-gray: #d9d9d9;

//sizes for titles
$size-title-1: clamp(3rem, 1.35rem + 8.25vw, 11.25rem); // 48 - 180
$size-title-2: clamp(1.25rem, 0.75rem + 2.5vw, 3.75rem); // 20 - 60
$size-title-3: clamp(0.9375rem, 0.162rem + 2.99vw, 3.75rem); // 15 - 60
$size-title-4: clamp(2.5rem, 2.2rem + 1.5vw, 4rem); // 64 - 40
$size-title-5: clamp(0.9375rem, -0.3519rem + 5.5016vw, 6.25rem); // 15 - 100
$size-title-6: clamp(0.625rem, 0.0485rem + 2.4595vw, 3rem); // 10 - 48
$size-title-7: clamp(1.25rem, 0.3538rem + 3.4551vw, 4.5rem); // 20 - 72

//sizes for texts
$size-text-1: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem); // 14 - 22
$size-text-2: clamp(1.25rem, 1.05rem + 1vw, 2.25rem); // 20 - 36
$size-text-3: clamp(0.4375rem, 0.1796rem + 1.1003vw, 1.5rem); // 7 - 24
$size-text-4: clamp(0.4375rem, 0.2448rem + 0.8376vw, 1.25rem); // 5 - 20
$size-text-5: fluid-size(32, 64); // 32 - 64

// z-indexes

$z-index-common: 1;
$z-index-models: 5;
$z-index-header: 10;
$z-index-modals: 20;
