.footer {
  background-color: var(--color-bg-black);
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-text-green);
}

.container {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &.bottom {
    width: 100%;
    justify-content: space-between;
    margin-top: 90px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-text-green);
  }

  &__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: var(--color-text-white);
  }
}

.copyright {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-white);
}

.privacy {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text-green);
}
