.section {
  display: flex;
  flex-direction: column;
  gap: fluid-size(30, 60);
}

.container {
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 fluid-size(30, 60);

  @include media-up(md) {
    display: grid;
    grid-template-columns:
      clamp(9.375rem, 1.6875rem + 38.4375vw, 47.8125rem)
      clamp(9.375rem, 1.6875rem + 38.4375vw, 47.8125rem);
    grid-template-rows: clamp(13.75rem, 11.875rem + 9.375vw, 23.125rem) clamp(
        11.25rem,
        9.375rem + 9.375vw,
        20.625rem
      );
    grid-template-areas:
      'card1 card3'
      'card2 card3';
  }

  @include media-down('md') {
    display: flex;
    flex-direction: column;
  }
}

.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 64px;

  &:nth-child(1) {
    grid-area: card1;

    @include media-down('md') {
      min-height: 170px;
      aspect-ratio: 350/170;
    }
  }
  &:nth-child(2) {
    grid-area: card2;

    @include media-down('md') {
      min-height: 170px;
      aspect-ratio: 350/155;
    }
  }
  &:nth-child(3) {
    grid-area: card3;
  }

  &__more {
    @include flex-center;
    flex-direction: column;
    gap: 40px;

    @include media-up(md) {
      background-color: $color-bg-gray;
    }

    @include media-down(md) {
      background: transparent;
    }
  }

  &__more_text {
    padding-top: 5%;
    font-size: fluid-size(100, 200, 769);
    font-weight: 700;
    line-height: 80%;

    @include media-down(md) {
      display: none;
    }
  }

  &__image {
    object-fit: cover;
  }

  &__button {
    @include media-down('md') {
      height: 35px;
      padding: 15px 5px;
      font-weight: 700;
      font-size: $size-text-1;
      width: 115px;
      background-color: $color-bg-green;
    }
  }
}
