.header {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 15%;
  height: 200px;
  @include flex-center;
  z-index: $z-index-header;

  &__inner {
    @include flex-center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;

    @include media-down('md') {
      padding: 20px 25px;
      align-items: flex-start;
    }
  }

  @include media-down('md') {
    height: 100vh;
    width: 100vw;
    background-color: $color-bg-green;
    position: fixed;

    &_closed {
      position: relative;
      height: 0;
      width: 0;
      background-color: $color-bg-white;
    }
  }
}

.mobile {
  @include media-up('md') {
    opacity: 0;
    position: absolute;
  }
}

.title {
  font-size: $size-title-1;
  font-weight: 700;
  text-align: center;
  max-width: 1000px;
}

.nav {
  @include flex-center;
  padding: 0 20px;

  @include media-down('md') {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-top: 0;
    padding: 0;
  }

  &__list {
    @include flex-center;
    justify-content: space-between;
    color: $color-text-black;
    font-size: $size-text-1;
    font-weight: 400;

    @include media-down('md') {
      flex-direction: column;
      align-items: flex-start;
      margin: fluid-size(80, 120) 0;
      font-size: $size-title-2;
      font-weight: 700;
      gap: fluid-size(30, 50);
    }

    &__item {
      white-space: nowrap;

      a {
        padding: 5px 15px;
        text-decoration: none;
        color: $color-text-black;
      }

      &:last-child {
        font-weight: 700;
        background-color: $color-bg-green;
        padding: 13px 25px;
        border-radius: 60px;
      }

      @include media-down('md') {
        padding: 0px;
        &:last-child {
          padding: 0px;
        }
      }
    }
  }

  &__actions {
    width: 100%;
    @include flex-center;

    button {
      background-color: $color-bg-black;
      color: $color-text-white;
    }
  }

  &__button {
    color: $color-text-black;
    font-size: $size-title-2;
    padding: 13px 25px;
    border-radius: 60px;
  }

  &__link_mobile {
    display: none;

    @include media-down('md') {
      display: flex;
    }
  }

  &__link_desktop {
    display: none;

    @include media-up('md') {
      display: flex;
    }
  }
}

.burger {
  width: 20px;
  padding: 5px;
  height: 4.5px;
  display: flex;
  flex-direction: column;
  border: none;
  position: relative;
  padding: 0;
  cursor: pointer;
  z-index: $z-index-header;

  &__wrapper {
    width: 100%;
    height: 40px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 4.5px;
    left: 0;
    border-radius: 60px;
    background-color: $color-bg-green;
    transition: 0.3s linear;
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }

  &_active {
    &::before {
      top: 0;
      transform: rotate(45deg);
      background-color: $color-bg-black;
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
      background-color: $color-bg-black;
    }
  }
}

.closed {
  @include media-down('md') {
    opacity: 0;
    position: absolute;
  }
}

.rogue {
  position: absolute;
  transform: translate(-50%, -50%);
  width: fluid-size(45, 250);
  height: fluid-size(45, 250);
  top: -10%;
  left: 0%;
  z-index: $z-index-models;

  @include media-down('md') {
    top: 35%;
    left: 10%;
    width: fluid-size(200, 380);
    height: fluid-size(200, 380);
  }
}

.cross {
  &_1 {
    position: absolute;
    transform: translate(-50%, -50%);
    width: fluid-size(45, 380);
    height: fluid-size(45, 380);
    top: 45%;
    left: 10%;
  }
  &_2 {
    position: absolute;
    transform: translate(-50%, -50%);
    width: fluid-size(45, 380);
    height: fluid-size(45, 380);
    top: 10%;
    right: -5%;
  }

  @include media-down('md') {
    &_1 {
      width: fluid-size(150, 380);
      height: fluid-size(150, 380);
      top: 25%;
      left: 60%;
    }
    &_2 {
      width: fluid-size(200, 380);
      height: fluid-size(200, 380);
      top: 80%;
      left: 35%;
    }
  }
}

.hollow_planet {
  &_1 {
    position: absolute;
    transform: translate(-50%, -50%);
    width: fluid-size(45, 250);
    height: fluid-size(45, 250);
    top: 10%;
    z-index: 1;
    left: 5%;
  }

  &_2 {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -40%;
    overflow: hidden;
    left: -5%;
    width: fluid-size(75, 450);
    height: fluid-size(75, 450);
  }

  &_3 {
    position: absolute;
    transform: translate(-50%, -50%);
    width: fluid-size(75, 400);
    height: fluid-size(75, 400);
    top: 55%;
    right: -20%;
  }

  @include media-down('md') {
    &_1 {
      width: fluid-size(240, 380);
      height: fluid-size(240, 380);
      top: 100%;
      left: 5%;
    }
    &_2 {
      width: fluid-size(150, 380);
      height: fluid-size(150, 380);
      top: 5%;
      left: 100%;
    }
    &_3 {
      width: fluid-size(150, 380);
      height: fluid-size(150, 380);
      top: 30%;
      left: 100%;
    }
  }
}
