.button {
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 100px;

  &__prime {
    padding: 13px 25px;
    color: $color-text-white;
    font-size: $size-text-1;
    background-color: $color-text-green;
  }

  &__second {
    padding: fluid-size(9, 13) fluid-size(14, 25);
    font-size: 14px;
    color: $color-text-white;
    background-color: $color-bg-black;
  }
}
