.button {
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 100px;
  transition: all 0.6s linear;
  padding: 13px 25px;
  font-size: $size-text-1;
  text-decoration: none;

  &:hover {
    background-color: $color-bg-black;
  }

  &:disabled {
    cursor: not-allowed;
    color: $color-text-black;
    background-color: $color-bg-gray;
  }

  &__prime {
    color: $color-text-white;
    background-color: $color-text-green;
  }

  &__second {
    color: $color-text-white;
    background-color: $color-bg-black;

    &:hover {
      color: $color-text-green;
    }
  }
}
