.button {
  background-color: var(--color-text-green);
  border: none;
  font-size: var(--size-text-1);
  color: var(--color-text-white);
  font-weight: 700;
  padding: 13px 25px;
  border-radius: 100px;
}
