.wrapper {
  overflow-x: auto;
  padding: 60px 0;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 200px;
  flex-wrap: nowrap;
  width: max-content;
}

.card {
  width: 140px;
  height: 700px;
  gap: 20px;
  background: var(--color-bg-gray);
  border-radius: 34px;
  flex-shrink: 0;
  cursor: pointer;

  &.active {
    width: 800px;
  }
}
