.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  padding: 60px 0;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px 70px;
  max-width: 90%;
  width: 100%;
  flex-wrap: nowrap;
  width: max-content;
}

.card {
  width: fluid-size(60, 140);
  height: fluid-size(300, 700);
  gap: 20px;
  background: $color-bg-gray;
  border-radius: 34px;
  flex-shrink: 0;
  cursor: pointer;
  overflow: hidden;

  &.active {
    @include media-up(md) {
      width: 800px;
    }

    @include media-down(md) {
      width: 450px;
    }
  }

  &__inner {
    display: flex;
    height: 100%;
  }

  &__header {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: fluid-size(60, 140);
    flex: 1 0 auto;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-90deg) translate(-50%, -50%);
    transform-origin: left top;
    white-space: nowrap;
    font-size: fluid-size(20, 28);
    font-weight: 700;
  }

  &__technologies {
    min-width: 660px;
    display: flex;
    flex-wrap: wrap;
    gap: fluid-size(20, 40);
    height: max-content;
    padding: 30px 0;

    @include media-down(md) {
      min-width: 390px;
    }
  }

  &__technology {
    @include flex-center;
    flex-direction: column;
    gap: 10px;

    &_icon {
      position: relative;
      width: fluid-size(40, 90);
      height: fluid-size(40, 90);
    }

    &_name {
      font-size: fluid-size(14, 16);
    }
  }
}
