.section {
  @include flex-center;
  flex-direction: column;
  &__title {
    font-size: $size-title-6;
    max-width: 1600px;
    margin-bottom: fluid-size(50, 120);
    font-weight: 700;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(2, fluid-size(220, 880));
  grid-template-rows: repeat(3, fluid-size(180, 280));
  gap: fluid-size(10, 35);

  & > div:nth-child(1) {
    grid-row: 1 / span 3;
    text-align: center;
    grid-column: 1 / span 1;

    .card__title {
      margin-bottom: fluid-size(10, 50);
    }
  }
  & > div:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
  }
  & > div:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
  }
  & > div:nth-child(4) {
    grid-row: 3;
    grid-column: 2;
  }
}

.card {
  @include flex-center;

  &__title {
    font-size: $size-text-2;
    font-weight: 700;
    text-align: justify;
    max-width: 90%;
    max-height: 90%;
  }

  &__text {
    font-size: $size-text-4;
    max-width: 80%;
    max-height: 80%;
    text-align: justify;
    line-height: fluid-size(10, 50);
  }
}
