.input {
  display: flex;
  flex-direction: column;

  &__textarea {
    width: 100%;
    font-family: inherit;
  }

  &__file_label {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px 10px;
    cursor: pointer;
  }

  &__file {
    display: none;
  }

  &__file_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  &__label {
    font-size: 16px;
    color: $color-text-black;
  }

  &__input {
    outline: none;
    padding: 11px 16px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: $color-text-white;
    background-color: $color-bg-black;

    &::placeholder {
      color: inherit;
    }

    &_error {
      outline: 3px solid $color-bg-black;
      color: $color-text-black;
      background-color: $color-bg-gray;
    }
  }

  &__messages {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}
