.banner {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: clip;
  text-align: center;
  background-color: $color-bg-gray;
  height: fluid-size(230, 720);
  margin-bottom: 200px;

  &__title {
    font-size: $size-title-2;
    font-weight: 700;
  }
}

.models {
  height: 130%;
}
