.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 65px 0px;
  gap: clamp(0.4375rem, -0.1rem + 2.6875vw, 3.125rem)
    clamp(0.625rem, -0.125rem + 3.75vw, 4.375rem);
  width: 100%;
}

.card {
  width: clamp(10.3125rem, 3.625rem + 33.4375vw, 43.75rem);
  height: clamp(4.0625rem, 1.875rem + 10.9375vw, 15rem);
}
