.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 65px 0px;
  gap: clamp(0.4375rem, -0.1rem + 2.6875vw, 3.125rem)
    clamp(0.625rem, -0.125rem + 3.75vw, 4.375rem);
  width: 100%;
}

.card {
  width: clamp(10.3125rem, 3.625rem + 33.4375vw, 43.75rem);
  height: clamp(4.0625rem, 1.875rem + 10.9375vw, 15rem);
  overflow: hidden;
  padding: fluid-size(0, 10) fluid-size(7, 25);

  &__inner {
    display: flex;
    align-items: flex-end;
    height: 100%;
    justify-content: space-between;
    gap: 10px;
  }

  &:nth-child(3n) > &__inner,
  &:nth-child(4n) > &__inner {
    flex-direction: row-reverse;
    .card__link {
      text-align: right;
    }
  }

  &__number_wrapper {
    flex: 50%;
    position: relative;
    height: 100%;
    transform: translateY(40px);
  }

  &__number {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: fluid-size(64, 240);
    font-weight: 700;
    color: $color-text-white;
    width: max-content;
  }

  &__link {
    flex: 50%;
    font-size: fluid-size(12, 40);
    font-weight: 700;
    color: $color-text-black;
    height: max-content;
  }
}
