.banner {
  height: 400px;
  color: $color-text-white;
  background-color: $color-bg-black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
