.subscribe {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
  }

  &__title {
    text-align: center;
    font-size: $size-title-4;
    font-weight: 700;
    color: $color-bg-black;
    text-wrap: wrap;
  }

  &__input {
    width: 330px;
    height: 40px;
    padding: 14px 16px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(125, 190, 59, 0.1);
    background-color: $color-bg-black;
    border-radius: 10px;
    color: $color-text-white;
    font-size: $size-text-1;
  }

  &__button {
    width: 120px;
    height: 45px;
  }
}
