.wrapper {
  @include flex-center;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: $z-index-modals;
  transition: 0.2s;

  &.close {
    display: none;
  }
}

.modal {
  position: relative;
  @include flex-center;
  gap: 70px;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: fluid-size(0, 30);
  width: 1000px;
  height: 300px;
  padding: 15px;

  @include media-down('md') {
    flex-direction: column;
    width: 100%;
  }

  &__background {
    z-index: -1;
    border-radius: 16px;
    box-shadow: 0 3px 5px 1px $color-bg-black ;
    object-fit: cover;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    text-align: start;
  }

  &__text {
    max-width: 570px;
    text-align: justify;
  }

  &__link {
    text-decoration: underline;
    color: $color-text-green;
  }

  &__button {
    border-radius: 100px;
    padding: 10px 25px;
    @include color-scheme($color-bg-black, $color-text-white);
  }
}