.wrapper {
  max-height: min-content;
  position: relative;
  overflow: hidden;
}

.section {
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(
    20,
    clamp(1.125rem, -0.1579rem + 5.1316vw, 6rem)
  );
  grid-template-rows: repeat(20, clamp(2rem, 1.3421rem + 2.6316vw, 4.5rem));

  & > div {
    @include flex-center;
    border-radius: fluid-size(20, 64);
  }

  & > div:nth-child(1) {
    @include color-scheme($color-bg-green, $color-text-black);

    @include media-up(md) {
      grid-area: 5 / 5 / 9 / 11;
    }

    @include media-down(md) {
      grid-area: 3 / 11 / 6 / 19;
    }
  }

  & > div:nth-child(2) {
    @include color-scheme($color-bg-black, $color-text-white);

    @include media-up(md) {
      grid-area: 4 / 12 / 9 / 18;
    }

    @include media-down(md) {
      grid-area: 2 / 3 / 6 / 10;
    }
  }

  & > div:nth-child(3) {
    z-index: 5;

    @include media-up(md) {
      grid-area: 10 / 3 / 14 / 9;
    }

    @include media-down(md) {
      grid-area: 14 / 8 / 17 / 16;
    }
  }
}

.mission {
  z-index: 5;

  @include media-up(md) {
    grid-area: 10 / 10 / 16 / 18;
  }

  @include media-down(md) {
    grid-area: 7 / 2 / 13 / 20;
  }

  &__text {
    text-align: justify;
    max-width: 80%;

    @include media-up(md) {
      font-size: fluid-size(12, 24, 768);
      line-height: 150%;
    }

    @include media-down(md) {
      font-size: fluid-size(12, 20, 425, 768);
      line-height: 150%;
    }
  }
}

.card {
  flex-direction: column;
  text-wrap: nowrap;
}

.number {
  font-size: clamp(2.5rem, 0.1974rem + 9.2105vw, 11.25rem);
  font-weight: 700;
}

.label {
  font-size: clamp(0.625rem, 0rem + 2.5vw, 3rem);
  font-weight: 700;
}

.marshmallow {
  left: 15%;
  top: 5%;
  position: absolute;
  width: fluid-size(150, 325);
  height: fluid-size(150, 325);
}

.hollow_planet {
  position: absolute;
  top: 50%;
  left: -5%;
  width: fluid-size(175, 450);
  height: fluid-size(175, 450);
}

.planet {
  position: absolute;
  right: 0%;
  bottom: 15%;
  width: fluid-size(150, 550);
  height: fluid-size(150, 550);
}
