.section {
  @include flex-center;
  flex-direction: column;

  &__title {
    font-size: $size-title-6;
    max-width: 1600px;
    margin-bottom: fluid-size(50, 120);
    font-weight: 700;
    text-transform: uppercase;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(2, fluid-size(315, 750));
  gap: fluid-size(5, 30);

  @include media-down('lg') {
    @include flex-center;
    flex-direction: column;
    max-width: 80%;
  }

  & > div:nth-child(3) {
    @include color-scheme($color-bg-green, $color-text-black);
  }

  & > div:nth-child(4) {
    @include color-scheme($color-bg-green, $color-text-black);
  }
}

.card {
  @include flex-center;
  justify-content: flex-start;
  padding: fluid-size(10, 40) fluid-size(10, 30);
  position: relative;
  text-transform: uppercase;

  &__title {
    font-weight: 700;
    max-width: 80%;
    font-size: fluid-size(20, 32);
    line-height: 120%;
    margin-bottom: 15px;
  }

  &__text {
    font-size: fluid-size(12, 20);
    text-align: justify;
    line-height: 150%;
    flex: 1 0 auto;
  }

  &__num {
    align-self: flex-end;
    font-weight: 400;
    font-size: fluid-size(20, 64);
  }
}
